{% extends "base.html" %}
{% block content %}

{% with headings=headings, data=data, table_name=table_name %}
{% include 'base-table-view.html' %}
{% endwith %}

<hr>

<h1>القطاع التعليمي</h1>
  <form method="POST">
    <div class="form-group">
      <label for="name">الاسم</label>
      <input type="text" class="form-control" id="name" name="name">

        <label for="name">الشهرة</label>
      <input type="text" class="form-control" id="last_name" name="last_name">

        <label for="name">اسم الأب</label>
      <input type="text" class="form-control" id="father_name" name="father_name">

        <label for="name">اسم الأم</label>
      <input type="text" class="form-control" id="mother_name" name="mother_name">

    </div>

      <div class="form-group">
      <label for="name">تاريخ الولادة</label>
      <input type="date" class="form-control" id="date" name="date">

        <label for="name">الجنس</label>
         <select class="form-control" id="gender-select" name="gender">
                    {% for gender in genders_list %}
                        <option value="{{ gender }}">{{ gender }}</option>
                    {% endfor %}
                </select>

        <label for="name">الجنسية</label>
          <select class="form-control" id="natio-select" name="nationality">
                    {% for nationality in nationalities_list %}
                        <option value="{{ nationality }}">{{ nationality }}</option>
                    {% endfor %}
                </select>


    </div>


      <div class="form-group">
      <label for="name">رقم السجل</label>
      <input type="text" class="form-control" id="ssn" onkeyup="fetchData()" name="ssn">

        <label for="name">الحالة</label>
          <select class="form-control" id="status-select" name="martial_status">
                        {% for martial in martials_list %}
                        <option value="{{ martial }}">{{ martial }}</option>
                    {% endfor %}

                </select>

          <label for="name">البلدة</label>
          <select class="form-control" id="status2-select" name="towns">
                        {% for town in towns_list %}
                        <option value="{{ town }}">{{ town }}</option>
                    {% endfor %}

                </select>

          <label for="name">القضاء</label>
          <select class="form-control" id="status3-select" name="judiciaries">
                        {% for jud in judiciaries_list %}
                        <option value="{{ jud }}">{{ jud }}</option>
                    {% endfor %}

                </select>

          <label for="name">المحافظة</label>
          <select class="form-control" id="status4-select" name="govs">
                        {% for gov in governates_list %}
                        <option value="{{ gov }}">{{ gov }}</option>
                    {% endfor %}

                </select>

    </div>

      <div class="form-group">
      <label for="name">نوع الخدمة</label>
        <select class="form-control" id="service-select" name="services">
                        {% for serv in services_list %}
                        <option value="{{ serv }}">{{ serv }}</option>
                    {% endfor %}

                </select>

        <label for="name"> (USD)القيمة</label>
      <input type="text" class="form-control" id="amount" name="amount">

          <label for="name"> (LBP)القيمة</label>
      <input type="text" class="form-control" id="amount2" name="amount_lira">

    </div>


      <div class="form-group">
      <label for="name">الهاتف</label>
      <input type="text" class="form-control" id="phone" name="phone">

        <label for="name">المؤسسة</label>
          <select class="form-control" id="institutions-select" name="insts">
                        {% for inst in institutions_list %}
                        <option value="{{ inst }}">{{ inst }}</option>
                    {% endfor %}

                </select>


    </div>


      <div class="form-group">
      <label for="name">المرجع</label>
      <input type="text" class="form-control" id="reference" name="reference">

        <label for="name">تم ادخاله بواسطة</label>
          <select class="form-control" id="admin-select" name="admins">
                        {% for admins in admin_first %}
                        <option value="{{ admins }}">{{ admins }}</option>
                    {% endfor %}

                </select>

          <label for="name">السنة الدراسية</label>
      <input type="text" class="form-control" id="year" name="academic_year">


    </div>

      <div class="form-group">
      <label for="name">Shatib id: </label>
      <input type="text" class="form-control" id="shateb" name="shateb">


    </div>




    <button type="submit" class="btn btn-primary">Add User</button>
  </form>
<table id="resultsTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>first Name</th>
                <th>last name</th>
                <th>father name</th>
                <th>Mother name</th>
                <th>register number</th>
                <th>date of birth</th>
                <th>Town</th>
                <th>Governate</th>
            </tr>
        </thead>
        <tbody>
            <!-- Results will be populated here -->
        </tbody>
    </table>

<script>

function makeAuthenticatedRequest(url, options) {
  const accessToken = localStorage.getItem('access_token');
  const headers = {
    'Authorization': `Bearer ${accessToken}`,
    'Content-Type': 'application/json',
    'X-CSRF-Token': csrfToken  // Include the CSRF token in the headers
  };
  return fetch(url, { ...options, headers });
}
</script>
<script>
        function fetchData() {
            const query = document.getElementById('ssn').value;
            if (query.length === 0) {
                document.getElementById('resultsTable').getElementsByTagName('tbody')[0].innerHTML = '';
                return;
            }

            fetch('http://127.0.0.1:5000/get-shateb?q=' + query)
                .then(response => response.json())
                .then(data => {
                    const tbody = document.getElementById('resultsTable').getElementsByTagName('tbody')[0];
                    tbody.innerHTML = ''; // Clear existing results
                    data.forEach(item => {
                        const row = tbody.insertRow();
                        const cell1 = row.insertCell(0);
                        const cell2 = row.insertCell(1);
                        const cell3 = row.insertCell(2);
                        const cell4 = row.insertCell(3);
                        const cell5 = row.insertCell(4);
                        const cell6 = row.insertCell(5);
                        const cell7 = row.insertCell(6);
                        const cell8 = row.insertCell(7);
                        const cell9 = row.insertCell(8);

                        cell1.textContent = item.id;
                        cell2.textContent = item.first_name;
                        cell3.textContent = item.last_name;
                        cell4.textContent = item.father_name;
                        cell5.textContent = item.mother_name;
                        cell6.textContent = item.reg_number;
                        cell7.textContent = item.date_of_birth;
                        cell8.textContent = item.town;
                        cell9.textContent = item.governate;
                    });
                })
                .catch(error => console.error('Error fetching data:', error));
        }
    </script>

{% endblock %}
